APP_PORT=3001

DATABASE_URL=postgresql://[user]:[password]@localhost:[port]/[nama_database]

# Public host for short links (no protocol). Local: BE port. Prod: misly.link
SHORT_DOMAIN=localhost:3001

JWT_SECRET=yy4kVUgJW8VXGlZPURdRB3BRPRexw8vpsMAh0MKcJLF
